<HTML>
<BODY>
<BODY>
<BR>

<h1>Welcome, administrator</h1>
<%= link_to "Users", users_path %> 
<%= link_to "Checklists", checklists_path %> 
<%= link_to "Courses", courses_path %> 
<BR><BR>

</BODY>
</HTML>

